TOOBIT_API_KEY=your_toobit_api_key
TOOBIT_API_SECRET=your_toobit_api_secret
TOOBIT_SPOT_API_KEY=your_toobit_spot_api_key
TOOBIT_SPOT_API_SECRET=your_toobit_spot_api_secret
TOOBIT_COPY_API_KEY=your_toobit_copy_api_key
TOOBIT_COPY_API_SECRET=your_toobit_copy_api_secret
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=123456789
